In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("dataset_Facebook.csv",sep=';')
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [13]:
display(df)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [17]:
column1 = df.iloc[:250]
column1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,188
246,130791,Photo,2,7,2,8,0.0,2881,5188,550,503,730,3840,2040,323,0,73.0,15.0,88
247,129600,Photo,2,7,1,12,0.0,3460,6503,541,482,667,4371,2260,314,0,96.0,19.0,115
248,129600,Photo,3,7,1,6,0.0,3406,5656,571,512,731,4446,2598,355,1,98.0,19.0,118
249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,68

In [20]:
column2= df.iloc[250:500]
column2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85
251,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194.0,34.0,234
252,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226.0,42.0,274
253,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238.0,51.0,300
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [51]:
df1 = pd.concat([column1,column2])
df1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [53]:
df1.sort_values('Category',ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
108,136736,Photo,3,10,7,9,0.0,2426,4469,320,237,325,3120,1684,248,7,125.0,16.0,148
322,123047,Photo,3,6,2,5,1.0,3662,6476,560,522,677,4930,2660,319,2,67.0,14.0,83
331,119198,Photo,3,5,3,5,0.0,4344,8025,692,626,872,4911,2528,367,1,107.0,26.0,134
330,120050,Photo,3,5,3,12,0.0,21248,34095,1049,918,1438,11280,6664,536,20,199.0,32.0,251
329,120050,Photo,3,5,4,4,1.0,4032,7278,684,607,848,4935,2644,432,7,139.0,34.0,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
110,136736,Photo,1,10,6,10,0.0,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34
339,117764,Photo,1,5,4,10,0.0,18056,32576,1062,875,1389,26514,14728,701,25,307.0,58.0,390
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,85

In [54]:
df1.sort_values('Category',ascending=True)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,53
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
402,107907,Photo,1,4,3,4,1.0,39568,47128,741,652,957,22022,16096,519,4,128.0,17.0,149
401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,167
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,105
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410

In [56]:
df1.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [58]:
table = pd.pivot_table(df1,index=['Type','Category'],values='comment')

In [59]:
table

                   comment
Type   Category
Link   1          2.900000
       2          2.000000
       3          2.000000
Photo  1          5.897297
       2         11.692308
       3          6.913333
Status 1          4.333333
       2          9.921053
       3          2.750000
Video  1         12.285714

In [71]:
df3 = pd.DataFrame(column1)
df4 = pd.DataFrame(column2)

newdf = df3.merge(df4, how='outer')

print(newdf)

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
0              139441   Photo         2          12             4          3
1              139441  Status         2          12             3         10
2              139441   Photo         3          12             3          3
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
496             81370   Photo         2           1             5          8
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
0     0.0                       2752                             5091
1     0.0                      10460                            19057
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers  \
0                       178                      109
1                      1457                     1361
2                       177                      113
3                      2211                      790
4                       671                      410
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions  \
0                           159
1                          1674
2                           154
3                          1119
4                           580
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page  \
0                                                 3078
1                                                11710
2                                                 2812
3                                                61027
4                                                 6228
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page  \
0                                                1640
1                                                6112
2                                                1503
3                                               32048
4                                                3200
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post  \
0                                                  119
1                                                 1108
2                                                  132
3                                                 1386
4                                                  396
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 19 columns]

In [72]:
table1 = pd.pivot_table(newdf,index=['Type','Category'],values='comment')

In [73]:
table1

                   comment
Type   Category
Link   1          2.900000
       2          2.000000
       3          2.000000
Photo  1          5.897297
       2         11.692308
       3          6.913333
Status 1          4.333333
       2          9.921053
       3          2.750000
Video  1         12.285714

In [77]:
df5 = pd.DataFrame(column1)
df6 = pd.DataFrame(column2)

newdf1 = df5.merge(df6,on='Type', how='right')

print(newdf1)

       Page total likes_x   Type  Category_x  Post Month_x  Post Weekday_x  \
0                  139441  Photo           2            12               4
1                  139441  Photo           3            12               3
2                  139441  Photo           2            12               2
3                  139441  Photo           2            12               2
4                  139441  Photo           3            12               1
...                   ...    ...         ...           ...             ...
45644              130791  Photo           1             7               2
45645              130791  Photo           2             7               2
45646              129600  Photo           2             7               1
45647              129600  Photo           3             7               1
45648              129600  Photo           2             7               7

       Post Hour_x  Paid_x  Lifetime Post Total Reach_x  \
0                3     0.0                         2752
1                3     0.0                         2413
2               10     1.0                        50128
3                3     0.0                         7244
4                3     1.0                        11692
...            ...     ...                          ...
45644           13     0.0                        44464
45645            8     0.0                         2881
45646           12     0.0                         3460
45647            6     0.0                         3406
45648           11     1.0                         2602

       Lifetime Post Total Impressions_x  Lifetime Engaged Users_x  ...  \
0                                   5091                       178  ...
1                                   4373                       177  ...
2                                  87991                      2211  ...
3                                  13594                       671  ...
4                                  19479                       481  ...
...                                  ...                       ...  ...
45644                              66824                      1052  ...
45645                               5188                       550  ...
45646                               6503                       541  ...
45647                               5656                       571  ...
45648                               4349                       479  ...

       Lifetime Engaged Users_y  Lifetime Post Consumers_y  \
0                           622                        570
1                           622                        570
2                           622                        570
3                           622                        570
4                           622                        570
...                         ...                        ...
45644                       564                        524
45645                       564                        524
45646                       564                        524
45647                       564                        524
45648                       564                        524

       Lifetime Post Consumptions_y  \
0                               795
1                               795
2                               795
3                               795
4                               795
...                             ...
45644                           743
45645                           743
45646                           743
45647                           743
45648                           743

       Lifetime Post Impressions by people who have liked your Page_y  \
0                                                   6651
1                                                   6651
2                                                   6651
3                                                   6651
4                                                   6651
...                                                  ...
45644                                               3861
45645                                               3861
45646                                               3861
45647                                               3861
45648                                               3861

       Lifetime Post reach by people who like your Page_y  \
0                                                   4212
1                                                   4212
2                                                   4212
3                                                   4212
4                                                   4212
...                                                  ...
45644                                               2200
45645                                               2200
45646                                               2200
45647                                               2200
45648                                               2200

       Lifetime People who have liked your Page and engaged with your post_y  \
0                                                    383
1                                                    383
2                                                    383
3                                                    383
4                                                    383
...                                                  ...
45644                                                316
45645                                                316
45646                                                316
45647                                                316
45648                                                316

       comment_y  like_y  share_y  Total Interactions_y
0              4    71.0     10.0                    85
1              4    71.0     10.0                    85
2              4    71.0     10.0                    85
3              4    71.0     10.0                    85
4              4    71.0     10.0                    85
...          ...     ...      ...                   ...
45644          0    91.0     28.0                   119
45645          0    91.0     28.0                   119
45646          0    91.0     28.0                   119
45647          0    91.0     28.0                   119
45648          0    91.0     28.0                   119

[45649 rows x 37 columns]

In [78]:
newdf1

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,622,570,795,6651,4212,383,4,71.0,10.0,85
1,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,622,570,795,6651,4212,383,4,71.0,10.0,85
2,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,622,570,795,6651,4212,383,4,71.0,10.0,85
3,139441,Photo,2,12,2,3,0.0,7244,13594,671,...,622,570,795,6651,4212,383,4,71.0,10.0,85
4,139441,Photo,3,12,1,3,1.0,11692,19479,481,...,622,570,795,6651,4212,383,4,71.0,10.0,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45644,130791,Photo,1,7,2,13,0.0,44464,66824,1052,...,564,524,743,3861,2200,316,0,91.0,28.0,119
45645,130791,Photo,2,7,2,8,0.0,2881,5188,550,...,564,524,743,3861,2200,316,0,91.0,28.0,119
45646,129600,Photo,2,7,1,12,0.0,3460,6503,541,...,564,524,743,3861,2200,316,0,91.0,28.0,119
45647,129600,Photo,3,7,1,6,0.0,3406,5656,571,...,564,524,743,3861,2200,316,0,91.0,28.0,119
45648,129600,Photo,2,7,7,11,1.0,2602,4349,479,...,564,524,743,3861,2200,316,0,91.0,28.0,119

In [83]:
col1 = df.loc[:10,['Type','Category','Lifetime Post Consumers']]
col1

      Type  Category  Lifetime Post Consumers
0    Photo         2                      109
1   Status         2                     1361
2    Photo         3                      113
3    Photo         2                      790
4    Photo         2                      410
5   Status         2                     1073
6    Photo         3                      265
7    Photo         3                      232
8   Status         2                     1407
9    Photo         3                      183
10  Status         2                     4100

In [84]:
col2 = df.loc[:10,['Type','Post Month','Lifetime Post Total Reach']]
col2

      Type  Post Month  Lifetime Post Total Reach
0    Photo          12                       2752
1   Status          12                      10460
2    Photo          12                       2413
3    Photo          12                      50128
4    Photo          12                       7244
5   Status          12                      10472
6    Photo          12                      11692
7    Photo          12                      13720
8   Status          12                      11844
9    Photo          12                       4694
10  Status          12                      21744

In [99]:
d1 = pd.DataFrame(col1)
d2 = pd.DataFrame(col2)

newdf5 = d1.merge(d2,on='Type', how='inner')
newdf5 = newdf5.drop_duplicates(subset='Type')
newdf5

,Type,Category,Lifetime Post Consumers,Post Month,Lifetime Post Total Reach
0,Photo,2,109,12,2752
49,Status,2,1361,12,10460

In [97]:
d3 = pd.DataFrame(col1)
d4 = pd.DataFrame(col2)

newdf6 = d3.merge(d4,on = 'Type', how='left')
newdf6

,Type,Category,Lifetime Post Consumers,Post Month,Lifetime Post Total Reach
0,Photo,2,109,12,2752
1,Photo,2,109,12,2413
2,Photo,2,109,12,50128
3,Photo,2,109,12,7244
4,Photo,2,109,12,11692
...,...,...,...,...,...
60,Photo,3,183,12,4694
61,Status,2,4100,12,10460
62,Status,2,4100,12,10472
63,Status,2,4100,12,11844
64,Status,2,4100,12,21744